"*":
  editor:
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    disabledPackages: [
      "atom-lint"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "98ccc3b9-c52f-12b0-e624-e61a0fe49990"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3a5abcdccf1c064424a28a249769bee05a9a0923"
  "tree-view":
    hideIgnoredNames: true
  "atom-lint": {}
  "vim-mode":
    useSmartcaseForSearch: true
  linter:
    ignoredLinterErrors: [
      "rubocop"
    ]
  minimap: {}
  "linter-jshint": {}
  "linter-rubocop":
    rubocopExecutablePath: "/Users/yusuke/.rbenv/versions/2.2.2/bin/rubocop"
  "gist-it": {}
  "atom-beautify":
    _analyticsUserId: "e320c6dd-ea79-4cb4-87b3-ebe624d7aeac"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
