"*":
  editor:
    fontSize: 15
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    disabledPackages: [
      "atom-lint"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "98ccc3b9-c52f-12b0-e624-e61a0fe49990"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3a5abcdccf1c064424a28a249769bee05a9a0923"
  "tree-view":
    hideIgnoredNames: true
  "atom-lint": {}
  "vim-mode":
    useSmartcaseForSearch: true
  linter: {}
  minimap: {}
  "linter-jshint": {}
